:root {
  --primary: #11151c;
  --jet-black: #343434;
  --licorice: #1b1212;
  --matte-black: #28282b;
  --oynx: #353935;
  --alt-text: #a09d9d;
  --vampire-black: #080808;
  --eerie-black: #1b1b1b;

  --success: rgba(22, 219, 101, 1);
  --warn: rgba(255, 214, 10, 1);
  --danger: rgba(255, 0, 0, 1);
  --true-purple: rgba(106, 13, 173, 1);

  --true-purple-500: rgba(106, 13, 173, 0.5);
  --true-purple-600: rgba(106, 13, 173, 0.6);
  --true-purple-400: rgba(106, 13, 173, 0.4);

  // fonts
  --lato: "Lato", sans-serif;
  --quicksand: "Quicksand", sans-serif;
}
