:root {
  /* font */
  --tilt-neon: "Tilt Neon", cursive;
  --oxygen: "Oxygen", sans-serif;
  --tilt-warp: "Tilt Warp", cursive;

  /* colors */
  --neon-like: #63e6be;
  --deep-navy-blue: #183153;
  --yellow: #ffd43b;
  --light-purple: #b197fc;
}

/* og image */
/* .og-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-top: 160px;
}

h1 {
  font-family: var(--tilt-warp);
  font-size: 160px;
  text-align: center;
  color: var(--neon-like);
}

h1 span {
  color: var(--yellow);
}

p {
  text-align: center;
  font-size: 40px;
  font-family: var(--oxygen);
  color: #fff;
}

p span {
  color: var(--neon-like);
} */
