@media (prefers-color-scheme: dark) {
  body {
    background: var(--deep-navy-blue);
    color: #fff;
  }

  .app-form input {
    border: 1px solid var(--light-purple) !important;
    background: none;
    outline: none;
    color: #fff;
  }

  .app-form input::placeholder {
    color: #fff;
  }

  .btn-wrapper button {
    background: var(--light-purple) !important;
  }

  .app-name {
    color: var(--neon-like) !important;
  }

  .app-name span {
    font-family: var(--tilt-warp);
    color: var(--yellow);
  }

  .saved-tweets-container input {
    background: none !important;
    border: 1px solid var(--light-purple) !important;
    color: #fff !important;
    outline: none !important;
  }

  .saved-tweets-container input::placeholder {
    color: #fff !important;
  }

  .tweets .tweet-card {
    background: var(--light-purple) !important;
    border-left: 6px solid var(--neon-like) !important;
    color: #fff;
  }

  .add-tweet {
    background: var(--neon-like) !important;
  }
}
