@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "./variables";

* {
  padding: 0;
  margin: 0;
  color: #fff;
  box-sizing: border-box;
  font-family: var(--lato);
  background: var(--primary);
}

.moveX {
  width: 0px;
  transition: all 0.4s ease-in;
  animation: moveX 0.4s ease-in-out infinite;
}

@keyframes moveX {
  0% {
    width: 0px;
  }
  50% {
    width: 50px;
  }
  100% {
    width: 100px;
  }
}
