@import "./variables";
@import "./interactions.scss";
@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--livic);
}

body {
  scroll-behavior: smooth;
  background: #000 !important;
  color: #fff !important;
}

.moveX {
  width: 0px;
  transition: all 0.4s ease-in;
  animation: moveX 0.4s ease-in-out infinite;
}

@keyframes moveX {
  0% {
    width: 0px;
  }
  50% {
    width: 50px;
  }
  100% {
    width: 100px;
  }
}

// dashboard sidebar
.sidebar-item {
  position: relative;
}

.sidebar-item::after {
  content: "";
  height: 40px;
  right: -3px;
  top: 10px;
  position: absolute;
  border-radius: 3px;
  border: 3px solid var(--true-purple);

  @media only screen and (min-width: 0px) and (max-width: 576px) {
    border: 2px solid var(--true-purple);
  }
}

.sidebar-item.active::after {
  transform: translateY(40px);
  transition: all 0.3s ease-in;
}

// custom scrollbar
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--matte-black);
}
